header {
    max-width: 100%;
    position: fixed;
    padding: 44px;
    .logo {    
        font-size: 45.612px;
        font-family: "Myriad Pro";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: left;
        -moz-transform: matrix( 1.07216098820193,0,0,1.08661774142388,0,0);
        -webkit-transform: matrix( 1.07216098820193,0,0,1.08661774142388,0,0);
        -ms-transform: matrix( 1.07216098820193,0,0,1.08661774142388,0,0);
    }
}
.Rectangle_3 {
    background-image: -moz-linear-gradient( 90deg, rgb(235,64,44) 0%, rgb(217,6,71) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(235,64,44) 0%, rgb(217,6,71) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(235,64,44) 0%, rgb(217,6,71) 100%);
    max-width: 100%;
    height: 950px;
  } 